Examples
========
{% for toplevel_example in toplevel_examples %}
{{ toplevel_example.title }}
{% for i in range(toplevel_example.title|length) %}-{% endfor %}

{{ toplevel_example.description }}

Schema
++++++

.. image:: {{ toplevel_example.schema_svg }}.svg
    :align: center

::
{% for line in toplevel_example.schema %}
  {{ line -}}
{% endfor %}

{% for demo in toplevel_example.demos %}
{{- demo.title }}
{% for i in range(demo.title|length) %}+{% endfor %}
{{ demo.description }}

Config
::
{% for line in demo.config %}
  {{ line -}}
{% endfor %}

Explain output
::
{% for line in demo.output %}
  {{ line -}}
{% endfor %}

Results
::
{% for statement in demo.statements %}
  {{ statement -}}
{% endfor %}

{% endfor %}

{% endfor %}
