Abridger
========
Abridger is a tool which allows for extraction of a subset of database data using a yaml configuration file. It currently supports sqlite and postgresql.

This readme file is just temporary, pending writing of some more substantial docs.

# Synopsis

```
usage: abridge-db [-h] [-u URL] [-f FILE] [-e] [-q] [-v] CONFIG_PATH SRC_URL

Minimize a database

positional arguments:
  CONFIG_PATH    path to extraction config file
  SRC_URL        source database url

optional arguments:
  -h, --help     show this help message and exit
  -u URL         destination database url
  -f FILE        destination database file. Use - for stdout
  -e, --explain  explain where rows are coming from
  -q, --quiet    Don't output anything
  -v, --verbose  Verbose output
```

Features
========
- Multiple subjects
- Compound foreign keys
- Nested includes
- Various defaults for relations
- Whitelisting and blacklisting relations using the `disabled` flag on relations
- SQL generation can go to a file or stdout
- SQL generation for postgresql
- Running of generates statements on destination databases
- Relations can be either global or only apply to a specific subject

Supported Databases
-------------------
- Sqlite
- Postgresql

Configuration
-------------
- Configuration files can be included using the `include` directive.

Extraction
----------
- One or more subjects can be defined, for example
  - An entire table
  - A table with certain rows matched to a column, e.g. `departments` with `id=1`
- Several relationships can be defined, for example
  - An outgoing foreign key
  - An incoming foreign key
  - Sticky relations: a sticky flag can be added to a relation. This can be used to limit which rows are fetched in large database schemas. Using the sticky flag ensures that only rows are fetched when the path from the table to the subject table consists entirely of sticky relations. This doesn't apply to not-null outgoing relationships, which are always fetched.
  - Use the `--explain` flag to get detailed output of why things are fetched.

Default Relationships
---------------------
| Default | Meaning |
| ------- | ------- |
| all-outgoing-not-null | This builtin relationship is always present and cannot be disabled |
| all-outgoing-nullable | This relationship is the default one. It ensures that all columns of rows matching the extraction criteria are fetched, leading to complete row fetches. |
| all-incoming | Include all tables that reference tables fetched when going through the extraction criteria |
| everything | Fetch everything that matches the extraction criteria, doing bidirectional matches |

Examples
========
Some example extractions follow, using an example database.

Database
--------
This example database is used:
```
{{ test_schema }}
```

{% for demo in demos %}
{{- demo.title }}
{% for i in range(demo.title|length) %}-{% endfor %}
{{ demo.description }}

Config
```
{{ demo.config -}}
```

Output
```
{% for line in demo.output %}
{{- line }}
{% endfor -%}
```

Results
```
{% for statement in demo.statements %}
{{- statement }}
{% endfor -%}
```
{% if demo.after_thought is not none %}{{ demo.after_thought }}{% endif %}

{% endfor %}
